@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  height: 35px;
  width: 88px;
}

header {
  width: 1440px;
  height: 70px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}
header ul {
  list-style: none;
  width: 710px;
  height: 24px;
  display: flex;
  justify-content: space-between;
  margin-left: 458px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  font-family: "Poppins", sans-serif;
}
@media (max-width: 420px) {
  header header {
    max-width: 420px;
    display: flex;
    height: 99px;
  }
  header header .logo {
    max-width: 420px;
    display: none;
  }
  header ul {
    max-width: 420px;
    display: flex;
    justify-content: space-between;
  }
}

.header__img-inst {
  width: 18px;
  height: 18px;
  margin-left: 115px;
}

.header__img-faceb {
  height: 18px;
  width: 10px;
  margin-left: 24px;
}

nav {
  width: 1440px;
  height: 460px;
  background: url(.png);
  mix-blend-mode: overlay;
  background-color: #2B0955;
  margin: 0 auto;
  position: relative;
}

.nav__button-one {
  width: 186px;
  height: 46px;
  background: #FBC508;
  border-radius: 8px;
  border-style: none;
  color: #2B0955;
  margin-left: 243px;
  margin-top: 26px;
}

.nav__button-two {
  width: 202px;
  height: 46px;
  background-color: #2B0955;
  color: white;
  border-radius: 8px;
  border-color: white;
  margin-left: 16px;
  margin-top: 26px;
}

.nav__h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 88px;
  color: #FFFFFF;
  width: 577px;
  height: 176px;
  margin-left: 243px;
}

.nav__h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.02em;
  color: white;
  width: 454px;
  height: 81px;
  margin-left: 243px;
  margin-top: 11px;
}

.nav__img-bitcoin {
  position: relative;
  left: 850px;
  bottom: 350px;
}

@media (max-width: 375px) {
  .nav__img-bitcoin {
    max-width: 375px;
    margin-top: 150px;
  }
  .nav__button-one {
    max-width: 375px;
  }
  .nav__h2 {
    max-width: 375px;
  }
  .nav__h1 {
    max-width: 375px;
  }
  nav {
    max-width: 375px;
    display: flex;
    flex-direction: column;
    background-color: none;
  }
}
.article__h3 {
  color: #2B0955;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  letter-spacing: -0.02em;
}

.article__img-after__h3 {
  margin-left: 671px;
}

body {
  font-family: "Poppins", sans-serif;
}

.cards {
  width: 1440px;
  height: 649px;
  margin: 0 auto;
}

.section__cards {
  display: flex;
  justify-content: space-evenly;
  width: 1440px;
  height: 525px;
  padding-top: 100px;
}
.section__cards .card__target {
  width: 287px;
  height: 306px;
  background: #FFFFFF;
  box-shadow: 0px 9px 27px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  position: relative;
  z-index: 0;
}
.section__cards .card__target .card__target__rabdito {
  margin-left: 20px;
  margin-bottom: 30px;
}
.section__cards .card__target .card__target__img {
  position: relative;
  z-index: 2;
  left: 50px;
  bottom: 20px;
  width: 171px;
  height: 178px;
}
.section__cards .card__target .card__description {
  margin-left: 20px;
  margin-top: -25px;
}
.section__cards .card__target .card__target__plus {
  position: relative;
  z-index: 2;
  margin-left: 250px;
  margin-top: -20px;
  bottom: 10px;
}
.section__cards .card__target .card__target__eth {
  width: 171px;
  height: 178px;
}

.text__cards {
  width: 1440px;
  height: 75px;
}
.text__cards .section__h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2B0955;
  margin-top: 126px;
}
.text__cards .text__card-line {
  margin-left: 670px;
}
.text__cards .section__subtitle {
  text-align: center;
}

.action {
  height: 600px;
  width: 1440px;
  margin: 0 auto;
  background: #F8F6FA;
}
.action .action__chat {
  margin-top: 35px;
  margin-left: 645px;
}
.action .action__h3 {
  margin-top: 16px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #2B0955;
}
.action .action__line {
  margin-left: 676px;
}
.action .action__email {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.action .action__email a {
  text-decoration: none;
  color: #363636;
}
.action .action__inf {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding-top: 10px;
}
.action .action__inf span {
  color: #7000FF;
  font-weight: 700;
}
.action .text__and__email {
  width: 384px;
  height: 181px;
  margin-left: 243px;
  margin-top: 80px;
}
.action .text__and__email a {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #2B0955;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}
.action .text__and__email img {
  margin-top: 19px;
}
.action .text__and__email .inf {
  position: absolute;
  margin-top: 30px;
  margin-left: 8px;
}
.action .action__email-num-name {
  width: 420px;
  height: 200px;
  margin-left: 800px;
  margin-top: -200px;
}
.action .action__email-num-name .email-name {
  width: 400px;
  height: 40px;
  background-color: #F8F6FA;
  border-style: none;
  border: 1px solid #AE97CB;
  border-radius: 8px;
}
.action .action__email-num-name .email-email {
  width: 400px;
  height: 40px;
  background-color: #F8F6FA;
  border-style: none;
  border: 1px solid #AE97CB;
  border-radius: 8px;
}
.action .action__email-num-name .email-phone {
  width: 400px;
  height: 40px;
  background-color: #F8F6FA;
  border: 1px solid #AE97CB;
  border-radius: 8px;
}
.action .action__email-num-name .email-p {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  width: 43px;
  height: 21px;
  color: #7000FF;
}
.action .action__email-num-name .email__do-it {
  width: 186px;
  height: 46px;
  background: #FBC508;
  border-radius: 8px;
  border-style: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #2A0953;
  margin-top: 16px;
  margin-left: 213px;
}

.footer {
  margin: 0 auto;
  width: 1440px;
  height: 330px;
  background: #2B0955;
}
.footer .footer__icon {
  display: flex;
  height: 62px;
  width: 1440px;
  justify-content: space-around;
  padding-top: 39px;
}
.footer .footer__icon .footer__img {
  width: 88px;
  height: 35px;
}
.footer .footer__icon ul {
  display: flex;
  width: 550px;
  height: 23px;
  justify-content: space-between;
  text-align: center;
}
.footer .footer__icon .footer__icons .footer__inst {
  width: 18px;
  height: 18px;
}
.footer .footer__icon .footer__icons .footer__faceb {
  height: 18px;
  width: 10px;
  margin-left: 24px;
}
.footer li {
  list-style: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;
}
.footer .footer__email {
  width: 630px;
  height: 45px;
  display: flex;
  margin-top: 104px;
  margin-left: 122px;
}
.footer .footer__email .footer__button {
  width: 122px;
  height: 45px;
  background: #FFFFFF;
  border-radius: 0px 6px 6px 0px;
  border-style: none;
}
.footer .footer__email .footer__email-type {
  width: 243px;
  height: 45px;
  border-style: none;
  border: 1px solid #FFFFFF;
  border-radius: 6px 0px 0px 6px;
  background-color: #2B0955;
  margin-left: 26px;
  color: white;
}
.footer .footer__email .footer__email-p {
  height: 21px;
  width: 250px;
  margin-top: 12px;
  color: #FFFFFF;
}
.footer .footer__line {
  width: 1440px;
  display: flex;
  justify-content: center;
  margin-top: 45px;
}
.footer .footer__last {
  text-align: center;
  margin-top: 16px;
  color: #FFFFFF;
}
